<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 配置数据库连接信息(可以同时支持多个数据源，默认是testmybatis) -->
	<environments default="testmybatis">
		<environment id="testmybatis">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/carredismgr" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
		<environment id="vvm3">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/vvm3" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!-- 注册Mapper.xml文件 -->
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/ScoreMapper.xml" />
	</mappers>
	
</configuration>
